<!-- <h1>parent component 5</h1><br/>
<label>input value: </label>
<input type="text" #price (keyup)= "onChange(price.value)">
<app-children #child [currentprice]="price.value"></app-children>
<h1>{{child.myname}}</h1>
<button (click)="child.greetselva()">clickme </button>
<button mat-raised-button (click)="greetstudent()">Greet student</button>
<button class="btn btn-primary" (click)="appreciatestudent()">appreciate student</button>
<hr/> -->
    <!-- <nav class="navbar navbar-default">
        <mat-tab-group>
                <mat-tab routerLink="home" routerLinkActive="active" label="First"> Content 1 </mat-tab>
                <mat-tab  routerLink="localdeals" routerLinkActive="active" label="Second"> Content 2 </mat-tab>
                <mat-tab routerLink="watchlist" routerLinkActive="active" label="Third"> Content 3 </mat-tab>
        </mat-tab-group>
    </nav> -->
<app-header></app-header>

<!-- <app-materialdemo></app-materialdemo> -->
<!--<h1>{{title}}</h1>
<app-heroes></app-heroes>-->