<div class="container" style="min-height: 100px;">
    <div class="row">
        <div class="col" style="background-color: aqua;">
        </div>
        <div class="col">
            
                <div class="row" style="align-items: center;">
                    <div class="col" style="background-color: beige;"><a routerLink="home" routerLinkActive="active">Home</a></div>
                    <div class="col" style="background-color: yellow;"><a routerLink="localdeals" routerLinkActive="active">Localdeals</a></div>
                    <div class="col" style="background-color: grey;"><a routerLink="watchlist" routerLinkActive="active">watchlist</a></div>
                    <div class="col" style="background-color: lightpink;"><a routerLink="notification" routerLinkActive="active">Notification</a></div>
                    <div class="col" style="background-color: white;"><a routerLink="help" routerLinkActive="active">Help</a></div>
                </div>
            
        </div>
    </div>
    
   
</div>
<router-outlet></router-outlet>